# Ignore bundler config and installed gems.
/.bundle
/vendor/bundle

# Ignore all environment files.
.env
.env.*
!.env.example

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
